.masterhead {
    margin-left: 475px;
    margin-bottom: .5rem
}
.rounded {
    padding: 20px;
    width: 280px;
    height: 280px;
} 
.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  } 
  